<h1>URL Shortener</h1>
<div class="ui three item menu">
  <a class="active item">Shorten URL</a>
  <a class="item">Custom URL</a>
  <a class="item">Analysis</a>
</div>

<div class="ui massive action input">
  <input type="text" placeholder="Your original URL here" id="longUrl" size="30" value="">
  <button class="ui primary button" id="shortenButton" value="submit">
    Shorten
  </button>
</div>

<div id="shortUrl"></div>
